* text=auto !eol
/BuildAndRun.wiki -text
/Changes.wiki -text
/Components.wiki -text
/DesignGoals.wiki -text
/DevPlatformUpdate.wiki -text
/DeveloperSidebar.wiki -text
/DevelopersGuide.wiki -text
/DotifyAPI.wiki -text
/DotifyAssembly.wiki -text
/DotifyCommon.wiki -text
/DotifyDevtools.wiki -text
/DotifyDevtoolsGUI.wiki -text
/DotifyFeatures.wiki -text
/DotifyFormatter.wiki -text
/DotifyFormatterImpl.wiki -text
/DotifyHistory.wiki -text
/DotifyHyphenatorImpl.wiki -text
/DotifyOsgiDevtools.wiki -text
/DotifyOverview.wiki -text
/DotifyShared.wiki -text
/DotifyTaskSystem.wiki -text
/DotifyTextImpl.wiki -text
/DotifyTranslator.wiki -text
/DotifyTranslatorImpl.wiki -text
/DownloadsWiki.wiki -text
/Formatter.wiki -text
/FutureDirection.wiki -text
/Hyphenator.wiki -text
/Inputs.wiki -text
/Javadoc.wiki -text
/MoveToGit.wiki -text
/OBFL.wiki -text
/OpenBrailleFormattingLanguage.wiki -text
/OtherImplementations.wiki -text
/Outputs.wiki -text
/PointsOfInteraction.wiki -text
/ProcessingSteps.wiki -text
/RepositoryLayout.wiki -text
/SourceFormatInterpreter.wiki -text
/Translator.wiki -text
/TranslatorChanges.wiki -text
/UsersGuide.wiki -text
/UsersSidebar.wiki -text
/VersionNumbering.wiki -text
/WhyDevelopForDotify.wiki -text
